.container {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
}

.gallery-item {
  margin: 10px;
  list-style: none;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
